build/*
src/modules/test/__pycache__/*
src/modules/test/.ipynb_checkpoints/*
/.vscode
/cuda/modules/test/.ipynb_checkpoints
/cuda/modules/test/__pycache__
/cuda/modules/test/*.so
/cuda/modules/test/*.pyc
/cpp/tools/example/build
/cpp/tools/example/.vscode
